<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container-fluid">
    <h4>Welcome to the dashboard </h4><br><hr>
    <div class="jumbotron">
        <h1><a href="/test"> test </a></h1>
    <h4><a  href="/issueNewBorrow"> Issue new borrow </a></h4>
    <h4><a href="/returnBorrowedBook"> Return of borrowed book  </a></h4>
    <h5><a href="/showAllRecords"> See all borrow list </a></h5>
    <h5><a href="/booksStatus"> Books Status </a></h5><hr><hr><br>

    <h6><a href="/managebooksandusers">manage books and users</a></h6>
</div>
</div>
</body>
</html>