<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MANAGE BOOKS AND USERS</title>
</head>
<body>
    <h6><a href="/addNewBook">Add new book</a></h6>
    <h6><a href="/addNewMember">Add new member</a></h6>
    <hr>
    <h6><a href="/booksStatus">Manage existing books</a></h6>
    <h6><a href="/manageExistingMembers">Manage existing users</a></h6>
</body>
</html>